.containerCentral{
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  linear-gradient(#444cf7 2px, transparent 2px), linear-gradient(90deg, #444cf7 2px, transparent 2px), linear-gradient(#444cf7 1px, transparent 1px), linear-gradient(90deg, #444cf7 1px, #e5e5f7 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    min-height: 689px;
    min-width: 600px;

}

footer {
    margin-top: auto; /* Empuja el footer hacia abajo para que se pegue al fondo */
    background-color: lightgrey; /* Color de fondo del footer */
    color: #fff; /* Color de texto del footer */
    padding: 10px; /* Espaciado interior del footer */
}

.contenidoTienda{
    min-width: 100%;
}


.isleta{
    background-color: green;
    width: 256px;
    height: 144px;
    margin: 10px;
    overflow: hidden;
    border: 5px solid black;
    border-radius: 10px;
}

.coordenadas{
    color: white;
}


.titule{
    color: white;
}

.zona{
    background-color: rgba(255, 255, 0, 0.366);
    width: 500px;
    height: 500px;
    position: fixed;
}

#ul{
    overflow-y: scroll;
    height: 700px;
}

.zonaActiva{
    background-color: rgba(237, 237, 26, 0.808);
}

.isletaActiva{
    background-color: rgba(0, 198, 0, 0.858);
}